.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    height: 28px;
    width: 28px;
    background-color: skyblue;
    margin: 0 10px;
    border-radius: 50%;
    animation: animate 2s infinite linear;
}
